/*--------------------CSS General------------------------*/

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  color: aliceblue;
  background-color: rgb(22, 21, 23);
}

main {
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
}

h1{
  font-weight: bold;
  font-size: 60px;
  background: linear-gradient(to right, #cb770a 20%, #2133be 40%, #2133be 60%, #cb770a 80%);
  background-size: 200% auto;
  animation: titles 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



/*--------------------Header------------------------*/

header {
  background-color: #4b4b4b2a;
  color: #494949;
  padding: 0 3rem;
  height: 80px;
  max-width: 1200px;
  border-radius: 1rem;
  display: flex;
  width: calc(100vw - 10rem);
  align-content: center;
  justify-content: space-between;
  position: fixed;
  top: 10px;
  z-index: 1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

header a {
  display: flex;
}

header .img-container {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
}

header img {
  width: 50px;
  object-fit: scale-down;
}

nav {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 0;
}

nav ul li {
  margin-left: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  border-radius: 0.5rem;
}

nav li:hover {
  color: aliceblue;
  background: linear-gradient(to right, #cb770a 20%, #2133be 40%, #2133be 60%, #cb770a 80%);
  background-size: 200% auto;
  animation: titles 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav a{
  text-decoration: none;
  color: aliceblue;
}



/*--------------------Secciones general------------------------*/


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  height: 100vh;
  text-align: center;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

/*--------------------Seccion Hero------------------------*/

#hero {
  text-align: center;
  display: flex;
  align-items: left;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding-top: 90px;
  height: 100vh;
  background-image: url("./Assets/img/Foto CV - TransparentGradient.png");
  background-repeat: no-repeat;
  background-position: right;
}

#hero .container {
  max-width: 1200px;
  flex-basis: 100%;
  text-align: left;
}

#hero span{
  font-weight: bold;
  font-size: 60px;
  line-height: 1rem;
  background: linear-gradient(10deg, #cb770a, #2133be);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hero h3{
  text-align: left;
  line-height: .5rem;
  padding-left: 20rem;
}

/*--------------------Seccion About------------------------*/

#about p {
  text-align: left;
}

/*--------------------Seccion Projectos------------------------*/

#projects {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#projects .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.project {
  margin-bottom: 20px;
  padding: 3rem;
  background-color: #f0f0f04d;
  border-radius: .5rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.323);
}

.project h3 {
  margin: 0;
}

.project a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  background-color: #f0f0f07d;
  padding: 5px 10px;
}

.project a:hover {
  background-color: #ddd;
}

section.slide-in {
  animation: slideIn 0.5s ease-in-out;
  opacity: 1;
}

/*--------------------Seccion Contacto------------------------*/

#contact {
  display: flex;
  flex-direction: column;
}

#contact .icon-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

#contact p{
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

#contact img{
  width: 100px;
  fill: aliceblue;
}

/*--------------------Animaciones------------------------*/

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes titles {
  to {
    background-position: 200% 100%;
  }
}

/*--------------------Responsive------------------------*/

/* @media screen and max-width(570px) { 
}*/
