/*--------------------CSS General------------------------*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  color: aliceblue;
  background-color: rgb(22, 21, 23);
}

main {
  overflow-x: hidden;
  height: 100dvh;
  height: 100vh;
  width: 100%;
}

h1{
  font-weight: bold;
  font-size: 60px;
  background: linear-gradient(216deg, #ed8925, #3c699a);
  background-size: 400% 400%;
  animation: titles 3s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar{
  z-index: 0;
}



/*--------------------Header------------------------*/

header {
  color: #494949;
  padding: 0 3rem;
  height: 5rem;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-between;
  position: fixed;
  backdrop-filter: blur(10px);
}

header a {
  display: flex;
}

header .img-container {
  display: flex;
  justify-content: flex-start;
}

header img {
  width: 50px;
  object-fit: scale-down;
}

.burger{
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 0;
}

nav ul li {
  margin-left: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  border-radius: 0.5rem;
  transition: all 500ms;
}

nav li:hover {
  color: aliceblue;
  background: linear-gradient(216deg, #ed8925, #3c699a);
  background-size: 400% 400%;
  animation: titles 3s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(-3px);
  transition: all 500ms;
}

nav a{
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}



/*--------------------Secciones general------------------------*/


.container {
  max-width: 1500px;
  padding: 2rem;
  width: 100%;
}

section {
  text-align: center;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-type: mandatory;
  scroll-snap-align: start;
  height: 100vh;
  padding-top: 5rem;
}

/*--------------------Seccion Hero------------------------*/

#hero {
  display: flex;
  justify-content: flex-start;
  max-width: 1500px;
  width: 100%;
  padding-top: 100px;
  height: 100vh;
  background-image: url("./Assets/img/Foto CV - TransparentGradient.png");
  background-repeat: no-repeat;
  background-position: right;
  margin: auto;
}

#hero .container {
  max-width: 600px;
  text-align: left;
}

#hero .container :last-child{
  text-align: right;
}

#hero span{
  font-weight: bold;
  font-size: 50px;
  background: linear-gradient(216deg, #ed8925, #3c699a);
  background-size: 400% 400%;
  animation: titles 3s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*--------------------Seccion About------------------------*/

#about p {
  text-align: left;
}

/*--------------------Seccion Experience------------------------*/



#experience .skills-container{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
  justify-content: center;
}

#experience p{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
}

#experience img{
  width: 40px;
}

/*--------------------Seccion Projectos------------------------*/

#projects {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#projects img{
  width: 350px;
  height: 115px;
  object-fit: scale-down;
  padding: 1rem 2rem;
}

#projects .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.project {
  background-color: #2c2c2c4d;
  border-radius: .5rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.323);
  width: 350px;
}

.project .datos{
  padding: 2rem;
}

.project p{
  text-align: left;
  padding: 1rem 0;
}

.project h3 {
  margin: 0;
}

.project a {
  margin-right: 10px;
  text-decoration: none;
  color: aliceblue;
  background-color: #f0f0f07d;
  padding: .5rem 1rem;
  border-radius: .5rem;
  width: 100%
}

.project a:hover {
  background: linear-gradient(216deg, #ed8925, #3c699a);
  background-size: 400% 400%;
  animation: titles 3s ease infinite;
}



section.slide-in {
  animation: slideIn 0.5s ease-in-out;
  opacity: 1;
}

/*--------------------Seccion Contacto------------------------*/

#contact {
  display: flex;
  flex-direction: column;
}

#contact .icon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

#contact p{
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
}

#contact img{
  width: 40px;
  fill: aliceblue;
}

/*--------------------Animaciones------------------------*/

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes titles {
  0% {
    background-position: 96% 0%;
  }
  50% {
    background-position: 5% 10%;
  }
  100% {
    background-position: 96% 0%;
  }
}

.sphere1{
  position: fixed;
  top: -20rem;
  left: -25rem;
  background-image: linear-gradient(216deg, #ed8925, #2a6bb0fd);
  border-radius: 50%;
  height: 30rem;
  width: 60rem;
  z-index: -1;
  filter: blur(10px);
}

.sphere2{
  position: fixed;
  bottom: -30rem;
  right: -25rem;
  background-image: linear-gradient(216deg, #2a6bb0fd, #ed8925);
  border-radius: 50%;
  height: 40rem;
  width: 70rem;
  z-index: -1;
  filter: blur(5px);
}

/*--------------------Responsive------------------------*/

@media screen and (max-width: 570px) { 
  
  /*general*/

  h1{
    font-size: 40px;
  }

  /*header*/

  .burger{
    display: flex;
  }

  .burger img{
    width: 20px;
  }

  nav{
    display: none;
  }

  header img{
    width: 30px;
  }

  header{
    height: 3rem;
  }

  /*hero*/
  #hero{
    background-position: bottom right;
    background-size:contain;
    align-items: flex-start;
  }

  #hero .container{
    padding-top: 10 rem;
  }

  #hero span{
    font-size: 30px;
  }

  #hero h3{
    font-size: 16px;
  }

}
