/*----------------------------------------------------------
-------------------------CSS General------------------------
----------------------------------------------------------*/

  /* selector universal para quitar propiedades predeterminadas y escoger tipologia*/
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    scroll-behavior: smooth;
  }
  body, html {
    position: fixed; /*esta posicion para corregir bug en mobiles cuando se ocultaba la barra de busqueda del navegador*/
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100dvh;
    justify-content: center;
    color: #f0f8ff;
    background-color: rgb(22, 21, 23);
  }
  /* se agrego un snap en el main para que el scroll por cada seccion de un efecto de 
  ser de la pantalla completa y se posicione automaticamente */
  main {
    overflow-x: hidden; /*corrige el bug de no poder hacer scroll*/
    width: 100%;
    scroll-snap-type: y mandatory;
  }
  /* selector de todos los titulos h1 de la pagina que le da un efecto de gradiente animada 
  en el clor del texto */
  h1{
    font-weight: bold;
    font-size: 3.5rem;
    background: linear-gradient(216deg, #EBB363, #3c699a);
    background-size: 400% 400%;
    animation: titles 3s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /* selector de la barra de scroll que la esconde */
  ::-webkit-scrollbar{
    display: none;
  }
  /* divs decorativos que se le agregaron animaciones de gradiente en el fondo de la pagina
  la primera en la esquina superior izquierda y la segunda en la esquina inferior derecha */
  .sphere1{
    position: fixed;
    top: -20rem;
    left: -20rem;
    background-image: linear-gradient(216deg, #EBB363, #2a6bb0fd);
    border-radius: 50%;
    height: 30rem;
    width: 70rem;
    z-index: -1;
    filter: blur(200px);
    animation: titles 10s ease infinite;
    background-size: 200% 200%;
  }
  .sphere2{
    position: fixed;
    bottom: -30rem;
    right: -25rem;
    background-image: linear-gradient(216deg, #2a6bb0fd, #EBB363);
    border-radius: 50%;
    height: 40rem;
    width: 70rem;
    z-index: -1;
    filter: blur(200px);
    animation: titles 10s ease infinite;
    background-size: 200% 200%;
  }
  /* cambia el tamaño del nombre, el padding de las secciones 
  y la posicion de las esferas decorativas del fondo en pantallas de menos de 900px*/
  @media screen and (max-width: 900px) {
    h1{
      font-size: 2.5rem;
    }
    section{
      padding-top: 3rem;
    }
    .sphere1{
      top: -25rem;
      left: -35rem;
      filter: blur(100px);
      transition: all 500ms;
    }
    .sphere2{
      bottom: -35rem;
      right: -15rem;
      filter: blur(100px);
      transition: all 500ms;
    }

  }

/*-----------------------------------------------------------
-----------------------------Header--------------------------
-----------------------------------------------------------*/

  /* selector del header que le fa forma y una posicion fija en la pantalla */
  header {
    color: #494949;
    padding: 0 3rem;
    height: 5rem;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-between;
    position: fixed;
  }
  
  header a {
    display: flex;
  }
  /* selector del contenedor del logo que hace que se coloque a la izquierda */
  header .img-container {
    display: flex;
    justify-content: flex-start;
    padding: 0 1rem;
  }
  /* selector del logo que le da ancho y scale down para que no se deforme*/
  header img {
    width: 50px;
    object-fit: scale-down;
  }
  /* selector contenedor icono burger que lo esconde */
  #burger{
    display: none;
    padding: 1rem;
  }
  /* selector icono burger que le da tamaño */
  #burger-icon{
    width: 3rem;
    padding: 0 1rem;
    visibility: hidden;
  }
  /* selector de la navegacion que la posiciona al final del header y lo centra verticalmente */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
  }
  /* selector de la lista de links que le quita el estilo predeterminado 
  y la coloca en posicion horizontal*/
  nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 0;
  }
  /* selector de item de lista de links que le da una transicion a los 
  cambios con el hover y formato en general */
  nav ul li {
    margin-left: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    border-radius: 0.5rem;
    transition: all 500ms;
  }
  /* selector de item de lista de navegacion que cambia el estilo mientras 
  haya hover dandole una posicion mas elevada y animacion gradiente en el color de letra */
  nav li:hover {
    color: aliceblue;
    background: linear-gradient(216deg, #EBB363, #3c699a);
    background-size: 400% 400%;
    animation: titles 3s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-3px);
    transition: all 500ms;
  }
  /* clase que se le da a los links cuando estan activos, se agraga y quita con javascript */
  .activeLink {
    border-bottom:2px solid #EBB363;
    background: linear-gradient(216deg, #EBB363, #3c699a);
    background-size: 400% 400%;
    animation: titles 3s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /* cambia el color, peso de letra de los links de navegacion y les quita lo subrayado */
  nav a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
  }
  /* hace visible el icono burger, esconde los links en el header, cambia el tamaño del 
  logo y la altura del header en pantallas de menos de 900px */
  @media screen and (max-width: 900px) { 
    #burger-icon{
      visibility: visible;
    }
    nav{
      display: none;
    }
    header img{
      width: 2rem;
    }
    header{
      height: 3rem;
      padding: 0 1rem;
    }
  }

/*---------------------------------------------------------------
--------------------Secciones en general-------------------------
-----------------------------------------------------------------*/

/* da tamaño y ancho a los contenedores de las secciones */
.container {
  padding: 0 2rem;
  width: 100%;
}
/* hace que la seccion ocupe 100% de la pantalla, da el snap del scroll al principio de la seccion */
section {
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  height: 100dvh;
  padding-top: 5rem;
}
section ul{
  text-align: left;
  padding-left: 3rem;
}
/* cambia el padding en pantallas en pantallas menores de 900px */
@media screen and (max-width: 900px) {
  .container {
    padding: 0 .4rem;
  }
  /* se pone este padding para dejar libre el espacio del header */
  section {
    padding-top: 3rem;
  }
}

/* ------------------------------------------------------------
-----------------------Burger modal----------------------------
------------------------------------------------------------ */

/* selector del modal burger que le da posicion absoluta de pantalla 
completa con un fondo translucido y visibilidad nula que se activa con javascript */
#burger-modal{
  display: flex;
  flex-direction: column;

  align-items: center;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(50px);
  transition: 300ms;
  z-index: 2;
  align-content: space-evenly;
}
#burger-modal nav {
  display: flex;
  width: 100%;
  height: 100%;
}
/* da estilo a la lista de links del modal burger */
#burger-modal ul{
  list-style: none;
  width: 100%;
}
/* da estilo a los items de la lista del modal burger */
#burger-modal li{
  color: aliceblue;
  width: 100%;
  line-height: 4rem;
  font-size: 1.5rem;
  justify-content: center;
}
/* da estilo a los links de la lista del modal burger */
#burger-modal a{
  text-decoration: none;
  color: aliceblue;
  text-align: center;
}
/* da tamaño al logo del modal burger */
#burger-modal img{
  width: 3rem;
}
/* da fondo al container del logo para hacerlo mas visible */
.logo-burger {
  padding: 1rem;
  background-color: rgba(213, 215, 249, 0.251);
  width: 100%;
}

/*-------------------------------------------------------------
-------------------------Seccion Hero--------------------------
-------------------------------------------------------------*/

  /* selector de seccion hero que le da una imagen de fondo posicionada a la derecha */
  #hero {
    display: flex;
    justify-content:left;
    max-width: 1500px;
    width: 100%;
    height: 100%;
    background-image: url("../Assets/img/hero.png");
    background-size: 50rem;
    background-repeat: no-repeat;
    background-position: right;
  }
  #hero .container {
    display: flex;
    font-family: 'Russo one', 'sans-serif';
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    text-align: left;
    text-shadow: 3px 3px 5px black;
    padding-left: 5rem;
  }
  /* selecciona al segundo hijo haciendo que este se posicione a la derecha del contenedor*/
  #hero .container :nth-child(2){
    text-align: right;
  }
  /* da diferente tipologia de letra al nombre en el hero */
  #hero span{
    text-align: left;
    font-weight: bold;
    font-size: 4rem;
    font-family: 'Gruppo', sans-serif;
    font-weight: 100;
  }
  /* da formato al link de la seccion de contacto */
  #hero a {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    text-decoration: none;
    color: aliceblue;
    border:1px solid #EBB363;
    padding: .5rem 1rem;
    border-radius: .5rem;
    width: 100%;
    max-width: 20rem;
  }
  /* agrega animacion gradiente al link de contacto */
  #hero a:hover {
    background: linear-gradient(216deg, #EBB363, #3c699a);
    background-size: 400% 400%;
    animation: titles 3s ease infinite;
    border: 1px solid transparent;
  }
  /* ajusta la distribucion de la seccion hero, hace el nombre con tamaño variable y le 
  da animacion al link de contacto sin necesidad de hover */
  @media screen and (max-width: 900px) { 
    #hero{
      background-image: url("../Assets/img/hero.png");
      background-position: bottom;
      background-size: contain;
      justify-content: center;
      align-items: flex-start;
      padding-top: 3rem;

    }
    #hero .container{
      width: 100%;
      padding: 0;
      padding-top: 8rem;
      align-items: center;
    }
    /* hace que el nombre se ajuste de tamaño de acuerdo al ancho de la pantalla */
    #hero span{
      font-size: 9vw;
      padding-bottom: 1rem;
    }
    #hero h3{
      font-size: 1rem;
    }
    #hero a {
      background: linear-gradient(216deg, #EBB363, #3c699a);
      background-size: 400% 400%;
      animation: titles 3s ease infinite;
      border: 1px solid transparent;
    }
  }  

/*------------------------------------------------------------
-------------------------Seccion About------------------------
------------------------------------------------------------*/
  
  /* alinea seccion en una columna, lo centra y hace la seccion depantalla completa 
  con un ancho maximo de 900px */
  #about .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 900px;
  }
  /* da forma de circulo a la imagen de perfil y ancho variable segun el ancho de la pantalla */
  #about img {
    width: 35%;
    max-width: 300px;
    border-radius: 50%;
    align-self: center;
    padding: 1rem;
  }
  /* alinea descripcion a la izquierda y pone padding a los lados */
  #about p {
    text-align: left;
    padding: 0 .5rem;
  }
  /* cambia el tamaño de la foto de perfil a un 50% del ancho de la 
  pantalla y justifica el texto */
  @media screen and (max-width: 900px) { 
    #about img {
      width: 50%;
    }
    #about p {
      text-align: justify;
    }
  }

/*-----------------------------------------------------------
-----------------------Seccion Education---------------------
-----------------------------------------------------------*/

  /* hace que el contenido de la seccion sea de pantalla completa, que los 
  elementos hagan wrap y los centra*/
  .studies-contanier{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  /* tamaño maximo de la card de study de 300px */
  .study{
    max-width: 300px;
  }
  /* tamaño de titulo de card study 1rem */
  .study h2{
    padding: 1rem;
  }
  /* borde decorativo y divisorio entre titulo y institucion */
  .study p{
    border-top: 5px solid #EBB363;
  }
  /* hace que el contenido de la seccion education tenga una direccion 
  de flex en columna, que los elementos esten centrados y que tengan una separacion equitativa*/
  #education .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  /* pone una flecha decorativa entre el titulo y el texto */
  #education .study img{
    height: 10px;
    width: 10px;
    object-fit: cover;
  }
  /* contenedor de la lista de skills que especifica la separacion 
  entre ellos, un ancho y ancho maximo del contenedor */
  #education .skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    justify-content: space-around;
    max-width: 1200px;
  }
  /* alinea, separa y justifica el instituto y año de estudio  */
  #education p{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: .5rem;
  }
  /* determina el tamaño de los iconos de las skills */
  #education img{
    width: 3rem;
    height: 3rem;
  }
  @media screen and (max-width: 900px) { 
    /* cambia la separacion de las cards de studios */
    .studies-contanier{
      gap: 1rem;
    }
    /* cambia el estilo de las cards de estudios agregando un fondo y borde redondeado */
    .study{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 2rem;
      background-color: rgba(240, 248, 255, 0.081);
      backdrop-filter: blur(10px);
      border-radius: 1rem;
      width: 150px;
      height: 150px;
      padding: .5rem;
    }
    /* cambia el tamaño y el padding del titulo de la card*/
    .study h2{
      font-size: 1rem;
      padding: 0 1rem;
    }
    /* quita el borde de separacion entre el titulo y el instituto */
    .study p{
    border-top: none;
    }
    /* cambia el tamaño de los iconos de las skills */
    #education img{
      width: 2rem;
      height: 2rem;
    } 
  }

/*-------------------------------------------------------------
-----------------------Seccion Experiencia---------------------
-------------------------------------------------------------*/

  /* da tamaño, separacion y justificacion al contenedor de la seccion de experiencia */
  .tabs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    gap: 1rem;
  }
  /* da tamaño y separaciones al contenedor de las pestañas */
  .tabs_container {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-basis: 20%;
    gap: .2rem;
  }
  /* se le dio un flex basis al titulo de la seccion y al contenedor de pestañas para que se acomoden 
  siempre en el mismo sitio cuando se cambie el contenido de la descripcion del trabajo */
  .tabs h1 {
    display: flex;
    flex-basis: 20%;
    align-self: center;
    padding-top: 2.5rem;
  }
  /* da estilo a las pestañas */
  .tab {
    border: 1px solid #EBB363;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 0px 0px 15px black;
    color: aliceblue;
    border-radius: .5rem;
    width: 100%;
    height: 4rem;
    cursor: pointer;
    padding: 1rem 1rem;
  }
  /* oscurece el fondo de las pestañas cuando se le hacen hover o focus */
  .tab:hover,  .tab:focus{
    background-color: #ffffff17;
  }
  /* le da un fondo de gradiente animado con javascript a la pestaña cuando se selecciona */
  .active {
    cursor: default;
    background-color: #D3825f;
    border: 1px solid transparent;
    background: linear-gradient(216deg, #EBB363, #3c699a);
    background-size: 400% 400%;
    animation: titles 3s ease infinite;
  }
  /* cambia al cursor default a la pestaña activa para dar a entender que ya esta seleccionada */
  .active:hover {
    cursor: default;
  }
  /* da estilo al contenido de la pestaña que se muestra con javascript */
  .tab_content {
    display: none;
    flex-direction: column;
    padding: .5rem .7rem;
    flex-basis: 60%;
    max-width: 900px;
    margin: auto;
  }
  /* da tamaño al titulo de la descripcion del contenido de la pestaña */
  .tab_content h3 {
    font-size: 1.5rem;
  }
  /* da tamaño a empresa y tiempo */
  .tab_content i {
    font-size: .8rem;
  }
  /* alinea la descripcion de la experiencia laboral y le da padding */
  .tab_content p {
    text-align: left;
    padding: 1rem 0;
  }
  /* da estilo al contenedor de los iconos de las tecnologias utilizadas */
  .experience_icon_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }
  /* da tamaño y padding a los iconos de tecnologias usadas */
  .experience_icon {
    width: 5rem;
    height: 5rem;
    padding: .5rem;
  }
  /* cambia el tamaño de la letra de las pestañas, el flex basis para darle mas espacio a la 
  descripcion y el tamaño de los iconos en pantallas de menos de 900px */
  @media screen and (max-width: 900px) { 
    .tab{
      padding: .5rem;
      font-size: 1rem;
    }
    .tabs_container {
      flex-basis: 15%;
    }
    .tab_content {
      flex-basis: 65%;
    }
    .experience_icon {
      width: 3rem;
      height: 3rem;
    }
  }

/*-----------------------------------------------------------
-----------------------Seccion Projectos---------------------
-----------------------------------------------------------*/

  /* alinea el titulo de la seccion y el contenedor de los proyectos en direccion de columna */
  #projects {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    height: 100%;
  }
  /* da tamaño y padding a los logos de los proyectos */
  #projects img{
    width: 350px;
    height: 115px;
    object-fit: scale-down;
    padding: 1rem 2rem;
  }
  /* selector del contenedor de los logos de los proyectos en el que les da una separacion, justificacion y alineacion */
  #projects .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
  }
  /* selector del link para la seccion de otros proyectos que le da una tipografia diferente, color, sombra y padding */
  #projects a.other{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Gruppo', sans-serif;
    font-size: 80px;
    text-shadow: 5px 5px 20px black;
    padding: 2rem 0;
    width: 350px;
  }
  /* selector para el contenido de la seccion individual de cada proyecto con direccion row, alineacion al centro y su justificacion */
  .project {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  /* da tamaño variable al ancho de la pantalla al logo del proyecto con un maximo de 400px */
  .project .logo{
    width: 60%;
    max-width: 400px;
  }
  /* selector del mockup del proyecto que le da un ancho maximo de 650px */
  .mockup {
    max-width: 650px;
  }
  /* selector del contenedor de los datos del proyecto que le da padding */
  .project .datos{
    padding: 2rem;
  }
  /* selector de la descripcion del proyecto que justifica el tecto y le da padding */
  .project p{
    text-align: left;
    padding: 1rem 0;
  }
  /* selector de los links del proyecto que le da estilo con ancho del 100%, fondo gris, padding, 
  quita estilos default de links, redondea bordes, da margenes y justifica texto */
  .project a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: aliceblue;
    background-color: #f0f0f07d;
    padding: .5rem 1rem;
    border-radius: .5rem;
    width: 100%;
    margin: 1rem 0;
  }
  /* le da la animacion gradiente al fondo del link cuando se le hace hover */
  .project a:hover {
    background: linear-gradient(216deg, #EBB363, #3c699a);
    background-size: 400% 400%;
    animation: titles 3s ease infinite;
  }
  /* alinea en flex columna el titulo de la seccion con el contenedor de los proyectos */
  #other-projects{
    display: flex;
    flex-direction: column;
  }
  /* selector de links de otros proyectos que separa, alinea y justifica el icono con el nombre 
  con una direccion flex en columna, dando un ancho fijo y quitando estilos default de los links */
  #other-projects a{
    display: flex;
    width: 8rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
    color: aliceblue;
  }
  /* selector contenedor de otros proyectos que da separacion, padding, un flex wrap, alineacion y justificacion */
  #other-projects .container{
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 5rem;
  }
  /* selector del icono de cada proyecto que especifica su tamaño */
  #other-projects img{
    width: 5rem;
    height: 5rem;
  }
  @media screen and (max-width: 900px) { 
    /* cambia la direccion del flex a columna de la seccion principal de proyectos*/
    #projects .container{
      flex-direction: column;
    }
    /* cambia el tamaño de los logos de los proyectos */
    #projects img {
      width: 250px;
    }
    /* cambia el tamaño de la letra del link a los otros proyectos */
    #projects a.other {
      font-size: 3rem;
    }
    /* cambia la direccion del flex de la seccion individual de cada proyecto a columna */
    .project{
      flex-direction: column;
      height: 100%;
    }
    /* cambia el tamaño de los mockups */
    .mockup{
      max-width: 70%;
      max-height: 25%;
    }
    /* cambia el padding del contenedor de los datos del proyecto */
    .project .datos{
      padding: 0 1rem;
    }
    /* cambia a que la animacion de gradiente en los links del proyecto siempre
     este activa ya que en version movil no hay hover */
    .project a {
      background: linear-gradient(216deg, #EBB363, #3c699a);
      background-size: 400% 400%;
      animation: titles 3s ease infinite;
    }
    /* cambia el tamaño de los iconos de los otros proyectos */
    #other-projects img{
      width: 3rem;
      height: 3rem;
    }
  }

/*-------------------------------------------------------------
-----------------------Seccion Contacto------------------------
-------------------------------------------------------------*/

  /* selector de la seccion contacto que da direccion flex en columna */
  #contact {
    display: flex;
    flex-direction: column;
  }
  /* selector del contenedor de iconos de formas de contacto que le da un 
  flex wrap, justificacion y ancho del 100% */
  #contact .icon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  /* selector de forma de contacto que da direccion flex en columna, padding y separacion al nombre e icono*/
  #contact p{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 1rem;
  }
  /* selector del icono de contacto que especifica el tamaño */
  #contact .contact-icon {
    width: 4rem;
    height: 4rem;
  }
  @media screen and (max-width: 900px) { 
    /* cambia el tipo de justificacion de la seccion contacto */
    #contact {
      justify-content: space-around;
    }
    /* cambia el tamaño de los iconos de contacto */
    #contact .contact-icon {
      width: 3rem;
      height: 3rem;
    }
  }

/*-----------------------------------------------------------
-------------------------Animaciones-------------------------
-----------------------------------------------------------*/
  /* animacion para la gradiente usada en los divs decorativos del 
  fondo de la pagina, titulos, links y pestañas de experiencia laboral */
  @keyframes titles {
    0% {
      background-position: 96% 0%;
    }
    50% {
      background-position: 5% 10%;
    }
    100% {
      background-position: 96% 0%;
    }
  }